* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  border: 1px dashed blue;
}

#container {
  border: 2px dotted green;
  background-color: rgb(241, 241, 241);

  max-width: 1024px;
  margin: 1% auto;
  padding: 1%;
}

h2 {
  border: 1px dashed blue;
  color: rgb(78, 78, 78);
  font-weight: lighter;

  margin: 0 1%;
}

#grid-container {
  border: 1px dashed blue;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2em;
  row-gap: 1em;
  margin-top: 1%;
}

.picture {
  border: 1px dashed green;
  background: linear-gradient(lightblue 80%, white 20%);
  border-radius: 10%;
  margin: 5%;
}

img {
  border: 1px solid red;
  display: block;
  width: 100%;
  height: auto;
}

.title {
  border: 1px dashed orange;

  text-align: center;
  padding-bottom: 3%;
  font-size: 14px;
}

p {
  border: 1px dashed blue;
  margin: 1% 1.1%;
}

@media screen and (max-width: 1024px) {
  #grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 768px) {
  #grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 414px) {
  #grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  h2 {
    text-align: center;
  }
}
